<main>

  <section id="section-banner">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/img/pexels-pixabay-163036.jpg" class="d-block w-100" alt="jogo">
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/pexels-eye4dtail-374914.jpg" class="d-block w-100" alt="joystick">
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/toys-2791660_1280.jpg" class="d-block w-100" alt="street fighter">
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/pexels-pixabay-371924.jpg" class="d-block w-100" alt="nintendo">
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/pexels-francesco-ungaro-1670977.jpg" class="d-block w-100" alt="vintage">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


  </section>

<h2>Jogos em Promoção</h2>

  <mat-grid-list cols="3">
    <mat-grid-tile>
      <mat-card class="example-card">

        <img mat-card-image src="../../assets/img/jogo1.jpg" alt="jogo1">

        <mat-card-header>
          <mat-card-title>Super Mario Wonder</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            DIVIRTA-SE COM MÁRIO.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 300,00</p>
          <button mat-button>COMPRAR</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card">

        <img mat-card-image src="../../assets/img/jogo2.jpg" alt="jogo2">

        <mat-card-header>
          <mat-card-title>Grand Theft Auto 5</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            O mundo aberto da Rockstar games
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 150,00</p>
          <button mat-button>COMPRAR</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card">

        <img mat-card-image src="../../assets/img/jogo3.jpg" alt="jogo3">

        <mat-card-header>
          <mat-card-title>Elden Ring</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            ELDEN RING, é um RPG de ação e fantasia
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 300,00</p>
          <button mat-button>COMPRAR</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>




</main>